//TEXT COLORS
$color-text-primary: #543024;

//BG COLORS
$color-bg-primary: #2587AC;
$color-bg-secondary: #EE3C5C;

//BTN COLORS
$color-btn-primary: #FF7D34;
$color-btn-primary-hover: #fc7324;

$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.4rem;

//SECTION GAP
$section-gap: 5rem;
$section-gap-side: calc((100vw - 90vw) / 2);

//SHADOWS
$shadow-primary: 0 .5rem 1rem rgba(0, 0, 0, .25)
