.form {
    box-shadow: $shadow-primary;
    background-color: $color-white;
    border-radius: 1.5rem;
    width: 50%;
    padding: 6rem;

    @include respond(tab-port) {
        width: 75%;
        padding: 4rem 3rem;
    }

    @include respond (phone) {
        width: 90vw;
    }

    &__heading {
        margin-bottom: 4rem;

        @include respond(tab-port) {
            margin-bottom: 2.5rem;   
        }
    }

    &__input {
        width: 100%;
        padding: 2rem;
        border: 1px solid $color-text-primary;
        border-radius: 5px;

        @include respond(phone) {
            padding: 1.5rem;
        }
        
        &:not(:last-child) {
            margin-bottom: 2rem;

            @include respond(tab-port) {
                margin-bottom: 1.5rem;
            }
        }
        
        &:hover,
        &:focus {
            outline: none;
            box-shadow: 0 0 0 .5pt $color-text-primary;
        }
    }
}